# --- Datasets and Heavy Folders ---
FAb-Net/
MELD.Raw/
meld_features/
meld_features_audio/
release_bmvc_fabnet/

# --- Model Weights (Large Files) ---
*.pth
*.h5
*.onnx

# --- Python / Jupyter Environment ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.env
venv/
env/

# --- OS Specific ---
.DS_Store
Thumbs.db